{% extends "base.html" %}


{% block content %}
{% load url from future %}       

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center> Confirmacion de la accion</center></h2>

             
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>SU ACION FUE EXITOSA  </center></h4>     

                    <li><a href="/principal">REGRESAR A LA PAGINA PRINCIPAL</a></li>
                    <li><a href="/accounts/login">entrar como usuario registrado</a></li>
                  </div>                  
                   

                
                  
                </div>
            </div>


          </div>

        </div>
  </div>







 
           

        

{% endblock %}


{ % extends "base.html" %}
{ % block content %}

{ % endblock %}




















                  

         
          







 