{% extends "base.html" %}


{% block content %}
{% load url from future %}



<form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form"> 
        {% csrf_token %}
        {{ form.as_p }}
        </form> 

        

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>INFORMACION DE INTERES </center></h2>

             
      </div>


    <div class="panel-body">

            <div class="row">





             <div class="col-md-4">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>ARTETRONICA</center></h4>     
                  </div>                     
                  <p>En Artetronica nos dedicamos a desarrollar soluciones en el campo de la electrónica,  la programación y  la robótica. </p>
                  <br>

                  <p>Contamos con un statff de profesionales, expertos, que te ayudaran a realizar tus proyectos.   </p>
                  <br>
                  
                

                  <p>Estamos ubicados en San Salvador, al final del bulevar los próceres en la Ciudad universitaria (Entrada principal de UES),  El Salvador  C. A.</p>
                  <br>
                  <br>

                 
                   
                  
                </div>
            </div>

<div class="col-md-4">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>Comprar y pagar</center></h4>     
                  </div>   
                  <p>En artetronica somos la mejor opcion para realizar tus compras, hacemos entregas nacioales e internacionales. </p>
                 
                  <p>Realiza el pedido....!!</p>

                   <center><p>Puedes pagar por medio de: </p></center>

                      <p>.....Paypal.</p>
                      <p>.....Western Union.</p>
                      <p>.....Punto Expres de Farmacias económicas.</p>
                      <p>.....Via transfererncia bancaria.</p>
                      <p>.....Contra entrega.</p>

                     <br>
                    <p>Al verificar el pago procederemos a realizar el envio del producto a la direccion indicada, se utilizara el servicio de correos nacional e internacional </p>
                     <br>
                    <p>Puedes pasar a recojer tu producto en: </p>
                          <p>Ahuchapan: Local de Aretroica, Frente al Gimnasio los pinitos  </p>
                          <p>San Salvador: Dentro de la UES en la biblioteca de Fac Ing y Arquitectura  </p>
                          <p>San Salvador: En la terminal de occidente en el despacho de buses Especiales de la ruta 202  </p>
                      <br>
                    <p>Bajo ciertas condiciones podemos entregar el producto personalmente: </p>

                    <p>La informacion necesaria para pagar le sera proporcioada por medio de correo electronico al realizar su pedido. </p>

                  
                </div>
            </div>



            <div class="col-md-4">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>Responsabilidad y garantia</center></h4>     
                  </div>                     
                   <p>Todos nuestros productos esta garatizados ya que son puestos a prueva antes de ser etregados.  </p>

                     <p>Es muy importante asesorar y compartir informacion con nuestros clientes, todos nuestros producctos y servicios cuentan con soporte tecnico y garantia</p>
                  <br>
                   
                    <p>Siempre trataremos que los productos llegue lo mas pronto posible a sus manos.  </p>


                  
                </div>
            </div>







          </div>

        </div>
  </div>







 
           

        

{% endblock %}























                  

         
          







 