{% extends "base.html" %}


{% block content %}
{% load url from future %}           

        

        <center><h2> *------* A r t e t r o n i c a *------*</h2> </center>
              {% for i in productos %} 
     

<div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title"><center>    {{i.nombre}}   </center></h2>              
      </div>


<div class="panel-body">

        <div class="row">


             <div class="col-md-4">
                <div id="contenedor">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            

            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
             
          </ol>
          <div class="carousel-inner">
            <div class="active item"> <img src={{MEDIA_URL}}{{i.imagen1}} alt="" /></div>
            <div class="item"> <img src={{MEDIA_URL}}{{i.imagen2}} alt="" /></div>
            <div class="item"> <img src={{MEDIA_URL}}{{i.imagen3}} alt="" /></div>
            
          </div>
          <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
</div>

               
             </div>


            <div class="col-md-4">
                <div class="thumbnail">               
                                          
                  <div class="caption">
                    <h4><center>Descripcion</center></h4> 
                         <p>nombres {{i.nombres }}</p> 
                         <p>Alias {{i.alias }}</p> 
                         <p>parte del Staff desde {{i.fecha_ingreso }}</p> 
                  
                  </div>      
                </div>
            </div> 

             <div class="col-md-4">
                <div class="thumbnail">               
                                          
                  <div class="caption">
                    <h4><center>Algo sobre {{i.nombres }}</center></h4> 
                         <p> {{i.desripion }}</p> 
                                           
                  </div>      
                </div>
            </div>               
              

            




          </div>

        </div>
  </div>


{% endfor %}  

{% endblock %}























                  

         
          







 